fieldset {
  border: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, grey, black);
  color: white;
}

/*to center all the content*/
main {
  max-width: 600px;
  margin: 24px auto;
  padding: 10px;
}
